<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
          rel="stylesheet"
          href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
  />
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="stylesheets/style.css">

</head>
<body>
<header class="header">

  <div id="menu-btn" class="fas fa-bars"></div>

  <a href="#" class="logo"> <span></span>Motors</a>

  <nav class="navbar">
    <a href="/vehicles">vehicles</a>
    <a href="/services">services</a>
    <a href="/contact">contact</a>
  </nav>

  <div id="login-btn">
    <button class="btn">login</button>
    <i class="far fa-user"></i>
  </div>

</header>

<div class="login-form-container">

  <span id="close-login-form" class="fas fa-times"></span>

  <form action="">
    <h3>user login</h3>
    <input type="email" placeholder="email" class="box">
    <input type="password" placeholder="password" class="box">
    <p> forget your password <a href="#">click here</a> </p>
    <input type="submit" value="login" class="btn">
    <p>or login with</p>
    <div class="buttons">
      <a href="#" class="btn"> google </a>
      <a href="#" class="btn"> facebook </a>
    </div>
    <p> don't have an account <a href="#">create one</a> </p>
  </form>

</div>

<section class="home" id="home">

  <h3 data-speed="1" class="home-parallax">it is your choice</h3>

  <img data-speed="5" class="home-parallax" src="image/intro.jpg" alt="">

  <a data-speed="7" href="#" class="btn home-parallax">explore cars</a>

</section>

<section class="icons-container">

  <div class="icons">
    <i class="fas fa-home"></i>
    <div class="content">
      <h3>10+</h3>
      <p>branches</p>
    </div>
  </div>

  <div class="icons">
    <i class="fas fa-car"></i>
    <div class="content">
      <h3>1000+</h3>
      <p>cars sold</p>
    </div>
  </div>

  <div class="icons">
    <i class="fas fa-users"></i>
    <div class="content">
      <h3>100+</h3>
      <p>happy clients</p>
    </div>
  </div>

  <div class="icons">
    <i class="fas fa-car"></i>
    <div class="content">
      <h3>500+</h3>
      <p>news cars</p>
    </div>
  </div>

</section>

<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

<script src="javascripts/script.js"></script>

</body>
</html>